.comm-block-container {
    width: 400px;
    padding: 15px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
}

.players-block-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons-wrap {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    background-color: white;
    color: black;
    padding: 15px;
    width: 40%;
    font-size: 1.1em;
    cursor: pointer;
}