.player-block {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    color: white;
}

.player-image { 
    width: 100px;
    height: 100px;
}

.player-image img {
    width: 100%;
    height: 100%;
}

.player-nickname {
    margin-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    text-align: center;
}

.player-timer { 
    margin-top: 15px;
}