.chess-board-box {
    padding: 0;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
}

.chess-board-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chess-board {
    width: calc(60px * 8);
    height: calc(60px * 8);
    border: 2px solid black;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: content-box;
}

.chess-wrap {
    width: calc(60px * 8);
    display: flex;
    flex-direction: column;
}

.transformation-block-container {
    height: 240px;
    display: flex;
    flex-direction: row;
    padding-left: 60px;
}

.column-rows-count {
    width: calc(60px * 1);
    height: calc(60px * 8);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.row-rows-letters {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

